.navbar {
  background-color: rgb(0, 0, 0);
  width: 100%;
  z-index: 1;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navbar-links li {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(44, 255, 255);
}

@media (min-width: 100px) and (max-width: 400px) {
  .navbar-links {
    gap: 1rem;
  }
  
  .navbar-links li {
    font-size: 1rem;
  }
}
